<h3>
<a href={{this.url}} class="resource-small--title style-a">{{this.title}}</a>
</h3>
<img src={{this.img}} class="resource-small--image">
<p class="resource-small--intro">{{this.intro}}</p>

<h3>Comments</h3>
{{#each this.json_agg}}
<div class="comment">
  <h4>{{this.title}}</h4>
  <p>Rating: {{this.rating}}</p>
  <p>{{this.content}}</p>
  <p>Author: {{this.email}}</p>
</div>
{{/each}}
