<h3>
<a href={{this.url}} class="resource-small--title">{{this.title}}</a>
</h3>
<img src={{this.img}} class="resource-small--image">
<p class="resource-small--intro">{{this.intro}}</p>
{{#each this.json_agg}}
  <p>{{this.title}}</p>
  <p>Review id: {{this.reviewID}} </p>
{{/each}}

<p>Comments</p>
{{#each this.json_agg}}
<div class="comment">
  <h4>{{this.title}}</h4>
  <p>Rating: {{this.rating}}</p>
  <p>{{this.content}}</p>
  <p>Author: {{this.email}}</p>
</div>
{{/each}}
